<div id="page1"></div>
<nav class="navbar fixed-top navbar-light bg-white d-none d-lg-flex">
    <div class="container-fluid">
        <a class="nav-link" href="#page4">Продукт</a>
        <a class="nav-link" href="#page5">Команда</a>
        <a class="mx-5 px-5 nav-link" href="#page1"><img class="brand" src="{{ site.baseurl }}/assets/images/TensorField.png" alt="Tensor Field"></a>
        <a class="nav-link" href="#page2">Проблемы</a>
        <a class="nav-link" href="#page3">Решения</a>
    </div>
</nav>
<div class="pos-f-t d-lg-none d-flex align-items-center justify-content-end">
    <button class="navbar-toggler hamburger hamburger--elastic mr-1 mt-2" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</div>
<div class="collapse" id="navbarNavAltMarkup">
    <div class="bg-white p-4 mb-3 text-center">
        <a class="mx-5 my-4 nav-link" href="#page1"><img class="brand img-fluid" src="/assets/images/TensorField.png" alt="Tensor Field"></a>
        <a class="nav-link" href="#page4">Продукт</a>
        <a class="nav-link" href="#page5">Команда</a>
        <a class="nav-link" href="#page2">Проблемы</a>
        <a class="nav-link" href="#page3">Решения</a>
        <a class="nav-link" href="#page8">Контакты</a>
    </div>
</div>
