<div class="page1">
    <div class="cover_filter"></div>
    <div class="container-fluid text-white d-flex align-items-center justify-content-center">
        <div class="text-center">
            <h1 class="mt-lg-5 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.4s">Агро-консалтинг</h1>
            <div class="my-5 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.8s">
                Цифровая модель поля.<br>
                Отбор проб почв по определенному алгоритму.<br>
                Агро-химическое и агро-физическое исследование почв.<br>
            </div>
            <a class="nav-link p-0" href="#page6"><button class="btn btn-primary rounded-0 my-4 wow fadeInUp" type="button" name="button"  data-wow-duration="0.5s" data-wow-delay="1.2s">Попробовать сейчас</button></a>
        </div>
        <div class="bounce-arrow">
            <a class="nav-link p-0" href="#page2"><svg class="t-cover__arrow-svg" style="fill:#dbdbdb;" x="0px" y="0px" width="38.417px" height="18.592px" viewBox="0 0 38.417 18.592"><g><path d="M19.208,18.592c-0.241,0-0.483-0.087-0.673-0.261L0.327,1.74c-0.408-0.372-0.438-1.004-0.066-1.413c0.372-0.409,1.004-0.439,1.413-0.066L19.208,16.24L36.743,0.261c0.411-0.372,1.042-0.342,1.413,0.066c0.372,0.408,0.343,1.041-0.065,1.413L19.881,18.332C19.691,18.505,19.449,18.592,19.208,18.592z"></path></g></svg></a>
        </div>
    </div>
</div>
