<div id="page7"></div>
<div class="page7 wow fadeIn" data-wow-duration="1s">
    <div class="container-fluid text-dark d-flex align-items-center justify-content-center">
        <div class="container text-center">
            <h1>Партнеры</h1>
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-12 col-md-4 px-2 mx-3">
                    <a href="https://www.skoltech.ru" target="_blank"><img class="img-responsive" src="/assets/images/skoltech-logo.png" alt="Skoltech"></a>
                </div>
                <div class="col-12 col-md-4 px-2 mx-3">
                    <a href="http://esoil.ru" target="_blank"><img class="img-responsive" src="/assets/images/GI.png" alt="GI"></a>
                </div>
            </div>
        </div>
    </div>
</div>
