<div id="page8"></div>
<div class="page8 wow fadeIn" data-wow-duration="1s">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 text-white my-auto">
                <h1>Контакты</h1>
                <h2>Телефон: +7 915 430 99 49<br>
                    Почта: i.oseledets@skoltech.ru</h2>
                <h3>Москва, Нобеля 3, Инновационный центр "Сколково", 143026</h3>
            </div>
            <div class="col-lg-6 p-0">
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>
