<div id="page2"></div>
<div class="page2 wow fadeIn" data-wow-duration="1s">
    <div class="container-fluid text-dark d-flex align-items-center justify-content-center mt-4">
        <div class="container-fluid text-center mt-lg-5">
            <h1 class="mt-5">Проблемы Агросектора в России</h1>
            <div class="mt-4 mb-lg-5 mx-auto">
                В России утрачивается до 40% урожая вследствие:
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-lg-3 mx-3">
                    <img class="pt-5 pb-lg-4" src="{{ site.baseurl }}/assets/images/weather.png" alt="Weather">
                    <h2 class="my-lg-4">Погода</h2>
                    <p>Несбалансированного подхода к использования семенного потенциала.</p>
                </div>
                <div class="col-12 col-lg-3 mx-3">
                    <img class="pt-5 pb-lg-4" src="{{ site.baseurl }}/assets/images/ground.png" alt="Ground">
                    <h2 class="my-lg-4">Почва</h2>
                    <p>Неправильного выбора средств обработки почв и мощностей машинного парка.</p>
                </div>
                <div class="col-12 col-lg-3 mx-3">
                    <img class="pt-5 pb-lg-4" src="{{ site.baseurl }}/assets/images/culture.png" alt="Culture">
                    <h2 class="my-lg-4">Культура</h2>
                    <p>Несвоевременного применения средств защиты растений.</p>
                </div>
                <div class="col-12 col-lg-3 mx-3">
                    <img class="pt-5 pb-lg-4" src="{{ site.baseurl }}/assets/images/technologies.png" alt="Technologies">
                    <h2 class="my-lg-4">Технологии</h2>
                    <p>Игнорирования мировых тенденций внедрения цифровых технологий.</p>
                </div>
            </div>
        </div>
    </div>
</div>
