<div id="page5"></div>
<div class="page5 wow fadeIn" data-wow-duration="1s">
    <div class="container-fluid d-flex align-items-center justify-content-center">
        <div class="container-fluid text-center px-lg-5 px-0">
            <h1>Команда</h1>
            <div class="row mx-lg-5">
                <div class="col-9 col-md px-0 mx-auto mx-lg-5">
                    <img class="rounded-circle mb-3" src="{{ site.baseurl }}/assets/images/ivan.jpg" alt="Ivan Oseledets">
                    <h2 class="my-1">Иван Оселедец</h2>
                    <p>CEO, доктор физико-математических наук, профессор, руководитель лаборатории почвенной информатики</p>
                </div>
                <div class="col-9 col-md px-0 mx-auto mx-lg-5">
                    <img class="rounded-circle mb-3" src="{{ site.baseurl }}/assets/images/maksim.jpg" alt="Maksim Kuznetsov">
                    <h2 class="my-1">Максим Кузнецов</h2>
                    <p>Научный сотрудник в области математического моделирования</p>
                </div>
                <div class="col-9 col-md px-0 mx-auto mx-lg-5">
                    <img class="rounded-circle mb-3" src="{{ site.baseurl }}/assets/images/maria.jpg" alt="Maria Pukalchik">
                    <h2 class="my-1">Мария Пукальчик</h2>
                    <p>Научный сотрудник, кандидат биологических наук</p>
                </div>
            </div>
        </div>
    </div>
</div>
