<div id="page4"></div>
<div class="page4 wow fadeIn" data-wow-duration="1s">
    <div class="t-cover__filter"></div>
    <div class="container-fluid text-white d-flex align-items-center justify-content-center">
        <div class="container text-center">
            <h1>TENSOR FIELD</h1>
            <div class="my-3 px-lg-5 mx-lg-5">
                Уникальный продукт долгосрочного планирования плодородия почв и урожайности сельскохозяйственных культур.<br><br>
                Экономический блок, позволяющий оценить планируемую рентабельность.<br><br>
                Рекомендательный блок на основе методов машинного обучения по подбору наилучших видов удобрений и средств защиты растений.
            </div>
        </div>
    </div>
</div>
