<div id="page3"></div>
<div class="page3 wow fadeIn" data-wow-duration="1s">
    <div class="container-fluid text-dark d-flex align-items-center justify-content-center">
        <div class="container text-center">
            <h1>Решение сложившихся проблем</h1>
            <div class="row">
                <div class="col-lg-4">
                    <div class="rounded-circle d-flex align-items-center justify-content-center text-white mx-auto">1</div>
                    <h2 class="my-3">BIG-DATA</h2>
                    <p>Комплексное исследование состояния почв и технологий.</p>
                </div>
                <div class="col-lg-4">
                    <div class="rounded-circle d-flex align-items-center justify-content-center text-white mx-auto">2</div>
                    <h2 class="my-3">IT продукт</h2>
                    <p>Математическое моделирование почв и севооборота.</p>
                </div>
                <div class="col-lg-4">
                    <div class="rounded-circle d-flex align-items-center justify-content-center text-white mx-auto">3</div>
                    <h2 class="my-3">Smart Farming</h2>
                    <p>Персонифицированное долгосрочное планирование и управление почвами и севооборотом.</p>
                </div>
            </div>
        </div>
    </div>
</div>
