<!DOCTYPE html>
<html lang="ru">
<head>
    {% include head.html %}
</head>
<body class="wow fadeIn" data-wow-duration="1s">
    {% include navbar.html %}
    {% include page1.html %}
    {% include page2.html %}
    {% include page3.html %}
    {% include page4.html %}
    {% include page5.html %}
    {% include page6.html %}
    {% include page7.html %}
    {% include page8.html %}
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/WOW.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSjJqDn6Wj4DleQP5naJJ00pc1B29ZtDQ&callback=initMap" async defer></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/myscript.js"></script>
</html>
